.goog-logo-link {
  height: 20px;
  width: 50px;
}

#accessibility {
  position: sticky;
  height: 0px;
  top: 90%  ;
  /* left: 0.5%; */
  z-index: 20;
  float: left;
  display: flex;
}

#accessibility-icon {
  background-color: #fff;
  border-radius: 50%;
  height: 60px;
  width: 60px;
  cursor: pointer;
}

.accessibility-overlay {
  height: 510px;
  width: 400px;
  left: 5%;
  bottom: 1px;
  background-color: #eeeeeedf;
  position: absolute;
  margin: -27% 0% 0% 0.2%;
  display: none;
}

.accessibility-options {
  width: 100%;
  padding: 2%;
  border-top: 1px solid #e0e0e0;
  border-bottom: 1px solid #e0e0e0;
  justify-content: center;
  text-align: left;
  align-items: center;
}

#reset {
  display: flex;
  text-align: center;
}

.acc {
  display: block;
}

