@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  /* max-width: 95% !important; */
  margin: 0 auto;
  padding: 0 50px;
}

html {
  --primary-color: #37529e;
  --text-color-dark: #0f0f0f;
  --text-color-light: #f6f6f6;
  --background-color: #fbf9f9;
  --border-color: #e4e3e3;
  --border-radius-def: 8px;
  font-family: "Poppins", sans-serif;
  color: var(--text-color-dark);
  background-color: var(--background-color);
}

input::placeholder {
  font-family: inherit;
}

input[type="submit"] {
  font-family: inherit;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

/* NAV ITEMS */
.top-nav {
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-items {
  display: flex;
  height: 100%;
}
.nav-item {
  margin-left: 40px;
}
.nav-item-link {
  display: flex;
  align-items: center;
  padding: 0 10px;
  color: var(--text-color-dark);
  font-weight: 500;
  height: 100%;
  position: relative;
}
.nav-item-link::after {
  content: "";
  position: absolute;
  top: 0;
  left: -50%;
  display: inline-block;
  height: 100%;
  width: 100%;
  /* z-index: -1; */
  border-bottom: 3px solid var(--primary-color);
  transition: all ease 300ms;
  visibility: hidden;
  opacity: 0;
}
.nav-item-link:hover::after {
  visibility: visible;
  opacity: 1;
  left: 0;
}

/* HOME PAGE SECTIONS */

.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero-welcome-text {
  /* flex: 0.6; */
  max-width: 500px;
}

.hero-big-text {
  font-size: 60px;
  text-transform: uppercase;
  line-height: 80px;
}

.hero-small-text {
  margin-top: 10px;
}

.hero-search-section {
  margin-top: 100px;
}
.hero-search-form{
  display: flex;
} 

.hero-search {
  border-radius: var(--border-radius-def);
  border: 1px solid var(--border-color);
  height: 40px;
  width: 340px;
  padding: 2px 10px;
  transition: all ease 200ms;
 
}


.hero-search:focus {
  outline: none;
  border: 1px solid var(--primary-color);
}

.hero-image-wrapper {
  overflow: hidden;
  margin-left: 22%;
  
}

.hero-image {
  height: 100%;
  width: 100%;

  object-fit: cover;
}

/* services */
.our-services {
  position: relative;
}
.services-lower-image-wrapper {
  position: absolute;
  bottom: 0;
  /* height: 600px; */
  /* width: 500px; */
}
.services-lower-image {
  height: 100%;
  width: 100%;
  transform: scale(1.1);
  object-fit: contain;
}
.services-cards {
  margin-top: 40px;
}

.services-card:nth-child(1) {
  display: flex;
  justify-content: start;
}
.services-card:nth-child(2) {
  display: flex;
  justify-content: center;
}

.services-card:nth-child(3) {
  display: flex;
  justify-content: flex-end;
}

.services-card {
  display: flex;
  align-items: center;
}

.services-card-number {
  font-size: 100px;
  margin-right: 40px;
  color: var(--primary-color);
  opacity: 0.4;
}

.services-card-content {
  height: 230px;
  background-color: white;
  width: 500px;
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius-def);
  margin: 30px 0;
  padding: 20px 30px;
  position: relative;
  transition: all ease 400ms;
}

.services-card-content:hover {
  box-shadow: 0px 3px 12px 0px rgba(0, 0, 0, 0.3);
}

.services-card-content::after {
  border-radius: var(--border-radius-def);
  content: "";
  position: absolute;
  height: inherit;
  top: 0;
  left: 0;
  width: inherit;
  background-color: var(--primary-color);
  transition: all ease 400ms;
  z-index: -1;
  opacity: 0;
}

.services-card-content:hover::after {
  transition: all ease 400ms;
  opacity: 1;
  transform: rotate(-3deg);
}

/* more section */
.more {
  position: relative;
  height: 700px;
  /* overflow: hidden; */
}

.more-image-line {
  position: absolute;
  top: -15px;
  transition: all ease 300ms;
  bottom: 0;
}

.more:hover > .more-image-line {
  top: -25px;
}

.more-image-wrapper {
  position: absolute;
  bottom: 0;
}

.more-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.more-section-text {
  position: absolute;
  font-size: 40px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  color: white;
  padding-left: 80px;
  padding-bottom: 30px;
  background-image: linear-gradient(
    to top,
    rgba(22, 42, 99, 0.886),
    rgba(0, 0, 0, 0)
  );
  z-index: 11;
}

/* ALL JOBS SECTION */

/* jobs cards */
.jobs-cards {
  font-size: 10px;
}
.jobs-card-wrapper {
  position: relative;
  width: 750px;
  margin: 70px 0;
  height: 220px;
  transition: all ease 300ms;
}
.jobs-card-wrapper:hover {
  transform: translateY(-5px);
}
.jobs-top-category {
  margin-left: 40px;
}
.jobs-top-category p {
  border-top-left-radius: var(--border-radius-def);
  border-top-right-radius: var(--border-radius-def);
  width: max-content;
  padding: 5px 10px;
  font-weight: 500;
  font-size: 1.3em;
  color: var(--text-color-light);
  background-color: rgb(139, 42, 139);
}
.jobs-card {
  height: inherit;
  background-color: white;
  padding: 30px 40px;
  border: 1px solid var(--border-color);
  border-radius: 10px;
  font-size: 1.6em;
  transition: all ease 300ms;
}
.jobs-card:hover {
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.15);
}
.jobs-detail {
  opacity: 0.9;
}
.jobs-card-low {
  border-top: 1px solid rgba(151, 151, 151, 0.205);
  margin-top: 25px;
  padding-top: 15px;
  display: flex;
  font-size: 0.9em;
}
.jobs-contact-item {
  margin-right: 30px;
}
.jobs-card-top {
  display: flex;
}
.fas {
  margin-right: 5px;
  padding-top: 5px;
}
/* profile */
.profile-wrapper {
  margin: 0 auto;
  width: 800px;
  background-color: white;
  padding: 30px;
}
.profile-image-and-upload {
  display: flex;
  margin-left: 50px;
  flex-direction: column;
  align-items: flex-start;
}
.profile-image-wrapper {
  height: 150px;
  width: 150px;
  background-color: red;
  border-radius: 50%;
  overflow: hidden;
}
.profile-top-wrapper {
  display: flex;
  flex-direction: row;
  margin-bottom: 100px;
}
.profile-image-details {
  width: 400px;
  margin-left: 7%;
}

.profile-info {
  width: 60%;
}
.profile-info-items {
  margin-bottom: 30px;
}
.profile-info-detail {
  padding: 8px 10px;
  border-radius: var(--border-radius-def);
  background-color: rgb(250, 250, 250);
  border: 1px solid var(--border-color);
}
.profile-info-detail-cap{
  text-transform: capitalize;
}
.org-profile-edit-form {
  width: 100%;
}
.changepp {
  cursor: pointer;
  color: #37529e;
}
/* sections */
.section-wrapper {
  position: relative;
  margin: 80px 0px;
  overflow: hidden;
}

.section-title {
  text-align: center;
  font-size: 30px;
}
.show-avilable-wrapper {
  width: 100%;
}
.jobs-card-top-link {
  color: var(--text-color-dark);
}
/* default btn */
.btn {
  display: inline-block;
  height: 40px;
  width: 140px;
  border-radius: var(--border-radius-def);
  border: none;
  cursor: pointer;
  transition: all ease 200ms;
}

.btn:hover {
  transform: translateX(5px);
  box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.1);
}

.btn-primary {
  background-color: var(--primary-color);
  color: var(--text-color-light);
}

/* footer */

footer {
  height: 260px;
  display: flex !important;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.959);
  border-top: 2px solid black;
  margin-top: 13%;
}

footer i {
  font-size: 1.2rem;
}
footer a {
  margin-left: 10px;
  color: black;
  font-weight: bold;
}
footer li {
  margin-bottom: 25px;
}
.footer-el {
  margin: 1rem;
}
/* popup logout form? */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.profile-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

/* apply remove1 */

/* popup cv upload form */
.form-popup {
  display: none;
  padding: 1rem 1rem 1rem 0;
  /* border: 3px solid #f1f1f1; */
  z-index: 9;
  max-width: 350px;
}
.form-container {
  max-width: 350px;
  padding: 10px;
  background-color: white;
}
.details {
  font-size: 15px;
  margin-bottom: 30px;
}
.form-container .btn {
  padding: 1rem;
}
.btns {
  margin-top: 20px;
}
.btns .cancel {
  margin-left: 40px;
  margin-right: 20px;
}
.btns .apply {
  margin-right: 20px;
}

#id_user {
  display: none;
}
label[for="id_user"] {
  display: none;
}

label {
  display: inline-block;
  margin: 5px 0px;
}

.form-button {
  width: 100%;
}

.form-title {
  font-size: 2rem;
  text-transform: uppercase;
  margin: 30px 0px 20px;
}

textarea {
  resize: vertical;
  min-height: 100px;
}
.form-gender {
  display: flex;
  align-items: center;
}
.form-gender label {
  padding-left: 0.4rem;
  padding-right: 1.4rem;
}
.form-gender p {
  font-weight: 500;
  margin-right: 1rem;
}
.form-input {
  height: 60px;
  width: 100%;
  padding: 0.4rem 1.5rem;
  border: none;
  border-radius: 10px;
  border: 1px solid rgb(204, 204, 204);
}
.form-input:focus {
  outline: none;
}
.form-item {
  margin-bottom: 5px;
}
.job-container {
  margin-top: 50px;
  margin-bottom: 50px;
  width: 50%;
}
.auth .container {
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.auth-left {
  flex: 1.6;
  height: 100vh;
}
.auth-image-wrapper {
  height: inherit;
}
.auth-image-wrapper img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.auth-right {
  flex: 1;
  padding: 0 8rem;
  display: flex;
  justify-content: center;
  margin-top: 6%;
}
.auth-form-wrapper {
  min-width: 500px;
}
.login .container {
  background-image: url("https://images.pexels.com/photos/3184296/pexels-photo-3184296.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.signup-form-wrapper {
  display: flex;
  height: inherit;
  justify-content: center;
  align-items: center;
}

.signup-form-wrapper form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 600px;
  width: 400px;
  padding: 2rem;
  box-shadow: 2px 4px 12px 0px rgba(0, 0, 0, 0.3);
  background-color: white;
}

.login-form-wrapper {
  display: flex;
  height: inherit;
  justify-content: center;
  align-items: center;
}

.login-form-wrapper form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* height: 500px; */
  width: 400px;
  padding: 2rem;
  box-shadow: 2px 4px 12px 0px rgba(0, 0, 0, 0.3);
  background-color: white;
}
.register-user-type {
  margin-bottom: 1rem;
}

/* job details */

.job-detail-wrapper {
  border-radius: var(--border-radius-def);
  overflow: hidden;
  margin: 50px auto;
  width: 1000px;
  background-color: white;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
}
.job-detail-top {
  position: relative;
  height: 400px;
  overflow: hidden;
}
.job-detail-image {
  height: inherit;
  position: relative;
}

.job-detail-image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.job-provider {
  position: absolute;
  bottom: 0;
  margin-left: 40px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}
.job-provider-image-wrapper {
  height: 100px;
  width: 100px;
  overflow: hidden;
  border-radius: 50%;
}
.job-provider-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.job-provider-detail {
  color: var(--text-color-light);
  margin-left: 20px;
}
.job-detail-low {
  padding: 20px 30px 40px;
}
.job-detail-low .job-category {
  cursor: pointer;
  color: white;
  background-color: rgb(139, 42, 139);
  padding: 7px 25px;
  border-radius: var(--border-radius-def);
  width: max-content;
  font-size: 16px;
  font-weight: 500;
  margin: 20px 5px;
}
.job-information h4 {
  font-size: 30px;
  color: rgb(139, 42, 139);
  margin-bottom: 15px;
  margin-left: 10px;
}
h5 {
  margin-left: 15px;
}
.job-info-item {
  display: flex;
  margin-bottom: 4px;
}
.job-info-title {
  font-size: 14px;
  position: relative;
  padding-left: 10px;
}
.job-info-title::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  display: inline-block;
  padding: 2px;
  border-radius: 50%;
  background-color: var(--primary-color);
}
.job-info-desc {
  position: relative;
  margin-left: 10px;
}

/* b-btm is the border bottom class */

.b-btm {
  border-bottom: 1px solid rgba(200, 200, 200, 0.466);
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.hero-text {
  display: flex;
  width: 100%;
  justify-content: space-between;
  border: 1px solid blueviolet;
  padding: 5px;
  margin-top: 30px;
}
.hero-desc {
  width: 50%;
}

/* POPUP */
.popup-msg {
  display: flex;
  justify-content: space-between;
  position: absolute;
  transform: translateX(-50%);
  top: 7%;
  left: 50%;
  width: calc(max-content + 50px);
  padding: 1.3rem;
  border-radius: 10px;
  border: 1.3px solid gray;

  color: rgb(0, 0, 0);

  box-shadow: 3px 4px 12px 0px rgba(0, 0, 0, 0.3);
}
 
.popup-close {
  margin-left: 10px;
  color: #cc0000;
  cursor: pointer;
}
.group-btn{
  display: flex;
}




/* ad content */
.ad-image{
  position: absolute;
  top: 0;
  right: 0;
  height: 600px;
  max-width: 1600px;
}

.job-class{
  margin-top: -150px;
}


/* about-us */
.about-us-cards{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.about-us-card{
  height: 400px;
  max-width: 350px;
  min-width: 290px;
  margin: 10px;
}
.about-us-image-wrapper{
  height: 200px;
  overflow: hidden;
}
.about-us-image{
  height: 100%;
  width: 100%;
  object-fit: cover;

}






/* pagination */
.paginator{
  text-align: center;
  margin-top: 1rem;

}
.pagination-action{
  display: inline-block;
  padding: 0.5rem;
  color: #37529e;
  font-size: 1.5rem;
}
.pagination-action:hover{
  color: #000;
}
.total_applicant{
  margin-bottom: -60px;
}


.feedback{
  height:150px;
}



/* profile progress bar  */
#progress {
  border: 1px solid black;
  position: relative;
  padding: 1px;
  margin: 5px 0 30px 0 ;
 }
 
 #percent {
  position: absolute;   
  left: 50%;
 }
 
 #bar {
  height: 20px;
  background-color:#47e4a3;
  
 }




 select{
   height:30px;
   border: none;
 }
 .filter-job{
   background-color: #fbf9f9;;
   height:30px;
 }


 