{% load static %}
<title>Login</title>
  {% include 'header.html'%}
  {% include "accessibility.html" %}
    <main class="signup auth">
      <div class="container">
        <div class="auth-left">
          <div class="auth-image-wrapper">
            <img
              src="https://images.unsplash.com/photo-1535451801241-b5395e1d4a1b?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=675&q=80"
              alt=""
            />
          </div>
        </div>
        
        <div class="auth-right">
        
          <div class="auth-form-wrapper">
          <h2 >Recruiter login</h2><br><br><br>
            <form action="{% url 'login' %}" method="post">
              {% csrf_token %}

              <div class="form-item">
                <input
                  type="text"
                  required="true"
                  class="form-input"
                  name="username"
                  placeholder="Username"
                />
              </div>

              <div class="form-item">
                <input
                  type="password"
                  required="true"
                  class="form-input"
                  name="password1"
                  placeholder="Password"
                />
              </div>

              <div class="form-item">
                <input
                  type="submit"
                  name="submit"
                  class="form-button btn btn-primary"
                  value="Sign In"
                />
              </div>
              <p>Not a member? <a href="{% url 'recruiter_register' %}">Register</a></p>
 
            </form>
          </div>
        </div>
      </div>
    </main>
  </body>
  {% include 'footer.html'%}
  
</html>
