{% include 'header.html' %}
{% include "accessibility.html" %}
<title>Feedback</title>
<main class="signup auth" >
      <div class="container">
        <div class="auth-left">
          <div class="auth-image-wrapper">
            <img
              src="https://images.unsplash.com/photo-1495106245177-55dc6f43e83f?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80"
              alt=""
            />
          </div>
        </div>
        <div class="auth-right" >
          <div class="auth-form-wrapper">
            <form action="{% url 'feedback' %}" method="post" enctype="multipart/form-data">
            <h2>Feedback Form</h2>
              {% csrf_token %}
              
              <div class="form-item">
                <input
                  type="email"
                  required="true"
                  class="form-input"
                  name="email"
                  placeholder="Your email address"
                />
              </div>
              <div class="form-item">
                <input
                  type="text"
                  required="true"
                  class="form-input feedback"
                  name="feedback"
                  placeholder="Feedback"
                />
              </div>
              
              <div class="form-item">
                <input
                  type="submit"
                  name="submit"
                  class="form-button btn btn-primary"
                  value="Submit"
                />
              </div>
                
            </form>
          </div>
        </div>
      </div>
    </main>
  </body>

{% include 'footer.html' %}
