
{% include 'header.html' %}
{% include "accessibility.html" %}
<title>Edit job</title>
{% load static %} 
<link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}" />
{% block content %}
<div class="job-container"
  <div class="form-group form-listJob edit-job">
    <h3 class="form-title">Edit job</h3>
    <form method="POST" action="">
      {% csrf_token %} {{ form.as_ul }}
      <input class="form-button btn btn-primary" type="submit" name="submit" />
    </form>
  </div>
</div>
{% endblock %}
 
{% include 'footer.html' %}