{% include 'header.html'%}
<title>Job Details</title>
{% include "accessibility.html" %}
<section class="job-detail-wrapper section-wrapper">
        <div class="job-detail-top">
          <div class="job-detail-image">
          {% if 'finance' in job.job_category %}
            <img src="https://images.unsplash.com/photo-1586021280718-53fbadcb65a7?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1500&q=80">
          {% elif 'management' in job.job_category %}
          <img src="https://images.unsplash.com/photo-1614028674026-a65e31bfd27c?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80">
          {% else %}
            <img
              src="https://images.pexels.com/photos/2923034/pexels-photo-2923034.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"
              alt=""
            />
            {% endif %}
          </div>
          <div class="job-provider">
            <div class="job-provider-image-wrapper">
              <img
                class="job-provider-image"
                src="https://images.pexels.com/photos/315938/pexels-photo-315938.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
                alt=""
              />
            </div>
            <div class="job-provider-detail">
              <h4>Recruiter</h4>
              <p>{{job.user.first_name}} {{job.user.last_name}}  </p>
            </div>
          </div>
        </div>
        <div class="job-detail-low">
          <div class="job-detail-desc b-btm">
            {{job.job_description}}
          </div>
            <div class="group-btn">
              <a href="{% url 'save_job' job.job_id %}"><h3 class="job-category">Save</h3></a>
              {% if user.is_authenticated %}
              <h3 class="job-category" onclick="openForm()">Apply</h3>   
              {% else %} 
                 <a href="{% url 'login'%}"><h3 class="job-category" >Apply</h3></a>
              {% endif %}   
                  
           </div>
           <div class="form-popup" id="myForm">
  <form class="form-container" method="post" enctype="multipart/form-data" action="{% url 'apply_job' job.job_id %}">
  {% csrf_token %}
    <h1 class="details">Please enter following details to continue</h1>
    <label for="usercv"><b>Attach your cv</b></label>
    <input type="file" name="usercv" required>
    <div class="btns">

      {% comment %} <a href="{% url 'apply_job' job.job_id %}" type="submit"><h3 class="job-category"  >Apply</h3></a> {% endcomment %}
      <a href="{% url 'apply_job' job.job_id %}" ><button type="submit" class="job-category">APPLY</button></a>
      <button type="button" class="job-category" onclick="closeForm()">Close</button>
    </div>
  </form>
</div>
          </div>
          <div class="job-information">
          <h4>{{job.job_title}}</h4>
            <h5><u>Basic Job Information</u></h5>
            <div class="job-info-item">
              <h5 class="job-info-title">Job Category : </h5>
              <p class="job-info-desc">{{job.job_category}}</p>
            </div>
            <div class="job-info-item">
              <h5 class="job-info-title">Job Employer :</h5>
              <p class="job-info-desc">{{ job.job_employer }}</p>
            </div>
            <div class="job-info-item">
              <h5 class="job-info-title">Phone number:</h5>
              <p class="job-info-desc">{{ job.job_phone }}</p>
            </div>
            <div class="job-info-item">
              <h5 class="job-info-title">Apply on our website</h5>
              <p class="job-info-desc"><a href="{{ job.job_website }}">{{ job.job_website }}</a></p>
            </div>
            <div class="job-info-item">
              <h5 class="job-info-title">Our Email :</h5>
              <p class="job-info-desc">{{ job.job_email }}</p>
            </div>
            <div class="job-info-item">
              <h5 class="job-info-title">Job Location :</h5>
              <p class="job-info-desc">{{ job.job_location }}</p>
            </div>
            <div class="job-info-item">
              <h5 class="job-info-title">No. of Vacancies :</h5>
              <p class="job-info-desc">{{ job.no_of_vacancy }}</p>
            </div>
            <div class="job-info-item">
              <h5 class="job-info-title">Job Issued :</h5>
              <p class="job-info-desc">{{ job.created.date}}</p>
            </div>
            <div class="job-info-item">
              <h5 class="job-info-title">Apply until:</h5>
              <p class="job-info-desc">{{ job.apply_until }}</p>
            </div>
            
          </div>
        </div>
      </section>










<div class="form-popup" id="myForm">
  <form class="form-container" method="post" enctype="multipart/form-data" action="{% url 'apply_job' job.job_id %}">
  {% csrf_token %}
    <h1 class="details">Please enter following details to continue</h1>
    <label for="usercv"><b>Attach your cv</b></label>
    <input type="file" name="usercv" required>
    <div class="btns">
      <a href="{% url 'apply_job' job.job_id %}" ><button type="submit" class="btn btn-primary apply">APPLY</button></a>
      <button type="button" class="btn btn-primary cancel" onclick="closeForm()">Close</button>
    </div>
  </form>
</div>

<script>
function openForm() {
  document.getElementById("myForm").style.display = "block";
}

function closeForm() {
  document.getElementById("myForm").style.display = "none";
}
</script>



{% include 'footer.html'%}