{% include 'header.html' %}
{% include "accessibility.html" %}
<title>Saved Jobs</title>
<section class="jobs-wrapper section-wrapper">
{% include 'bannerad3.html'%}
  <ul class="jobs-cards">
  <h1> Your saved jobs</h1>
  {% for job in jobs %}
 
    <li class="jobs-card-wrapper">
      <a href="{% url 'job_details_2' id=job.job_id %}"> 
        <div class="jobs-top-category">
         <p>{{ job.job.job_category }}</p>
        </div>
      </a>
      <div class="jobs-card">
        <div class="jobs-card-content">
          <div class="jobs-card-top">
            <i class="fas fa-search"></i>
            <h3 class="jobs-card-title">{{ job.job.job_title }}</h3>
          </div>
          <p class="jobs-detail">
          {{ job.job.job_description|truncatechars:100 }}
          {% comment %} {{ job.job.job_description|truncate(50, True, '...') }} {% endcomment %}
            
          </p>
        </div>
        <ul class="jobs-card-low">
          <li class="jobs-contact-item">
            <h5>Email</h5>
            <p>{{ job.job.job_email }}</p>
          </li>
          <li class="jobs-contact-item">
            <h5>Number</h5>
            <p>{{ job.job.job_phone }}</p>
          </li>
          <li class="jobs-contact-item">
            <h5>Location</h5>
            <p>{{ job.job.job_location }}</p>
          </li>
          <li class="jobs-contact-item">
            <h5 >Remove this item></h5>
            <a href="{% url 'remove_job' id=job.job_id %}"><button  class="btn btn-primary apply" ><i class="fas fa-trash-alt"></i> Remove</button></a>           
          </li>
        </ul>
      </div>
     
      {% endfor %}
    </li>
    



    <div class="paginator">
        {% if jobs.has_previous %}
          <a href="?page=1" class="pagination-action"> <i class="fas fa-angle-double-left"></i> </a>
          <a href="?page={{jobs.previous_page_number}}" class="pagination-action"> <i class="fas fa-angle-left"></i> </a>
        {% endif %}


        {% for num in jobs.paginator.page_range %}
          {%if jobs.number == num %}
            <strong>{{ num }}</strong>
          {% elif num > jobs.number|add:'-3' and num < jobs.number|add:'3' %}
            {{ num }}
          {% endif %}
        {% endfor %}
        {% if jobs.has_next %}
          <a href="?page={{jobs.next_page_number}}" class="pagination-action"> <i class="fas fa-angle-right"></i> </a>
          <a href="?page={{jobs.paginator.num_pages}}" class="pagination-action"> <i class="fas fa-angle-double-right"></i> </a>
        {% endif %}
    </div>
 </section>









 
{% include "footer.html" %}

