{%load static%}
<link rel="stylesheet" href="{%static './css/index.css'%}" />

<link
href="https://fonts.googleapis.com/icon?family=Material+Icons"
rel="stylesheet"
/>
<!-- <link rel="stylesh eet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> -->
<div id="accessibility">
    <img
      src="{% static './images/access-icon.png'%}"
      alt=""
      srcset=""
      id="accessibility-icon"
    />
  <form class="accessibility-overlay" id="overlay-accessibility">
    <div id="accessibility-title" class="accessibility-options">
      <h4>Accessibility Options</h4>
    </div>
    <br />
    <br />
    <label class="accessibility-options">
      <div id="color-invert">
        <label for="invertcolor"> <h6>Invert Color</h6></label>
        <input
          type="range"
          id="invert-color"
          name="invertcolor"
          min="0"
          max="100"
          value="0"
        />
        <label for="invertcolor" id="slider-value-place-invert"
          >0%&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label
        >
        <i class="material-icons" id="refresh-invert">refresh</i>
      </div>
    </label>

    <label class="accessibility-options">
      <div id="grayscale">
        <label for="grayscalemode"> <h6>Greyscale Level</h6></label>
        <input
          type="range"
          id="grayscale-mode"
          name="grayscalemode"
          min="0"
          max="100"
          value="0"
        />
        <label for="grayscalemode" id="slider-value-place-grayscale"
          >0%&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label
        >
        <i class="material-icons" id="refresh-greyscale">refresh</i>
      </div>
    </label>

    <label class="accessibility-options">
      <div id="brightness">
        <label for="brightness"> <h6>Brightness Level</h6></label>
        <input
          type="range"
          id="brightness-level"
          name="brightness"
          min="50"
          max="150"
          value="100"
        />
        <label for="brightness" id="slider-value-place-brightness"
          >100%&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label
        >
        <i class="material-icons" id="refresh-brightness">refresh</i>
      </div>
    </label>

    <label class="accessibility-options">
      <div id="font-size">
        <label for="font"> <h6>Font Level</h6></label>
        <input
          type="range"
          id="font-level"
          name="font"
          min="50"
          max="150"
          value="100"
        />
        <label for="font" id="slider-value-place-font"
          >100%&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label
        >
        <i class="material-icons" id="refresh-font">refresh</i>
      </div>
    </label>

    <label class="accessibility-options">
      <div id="translate">
        <div id="google_translate_element"></div>
      </div>
    </label>

    <br />
    <br />
    <label class="accessibility-options">
      <div id="reset">
        <label> <i class="fa fa-refresh"></i></label>
        <h5>&nbsp;&nbsp;&nbsp;Reset All</h5>
      </div>
    </label>
  </form>
  <script src="{% static 'images/index.js'%}"></script>
</div>