    <footer>
        <div class="footer-el footer-el-a">
            <ul>
                <li> <i class="fab fa-facebook"></i><a href="https://www.facebook.com/" target="popup" onclick="tab.open('../https://www.facebook.com/','name')">Facebook</a> </li>
                <li><i class="fab fa-instagram"></i><a href="https://www.instagram.com/" target="popup"  onclick="tab.open('..https://www.instagram.com/','name')">Instagram</a></li>
                <li><i class="fab fa-twitter"></i><a href="https://twitter.com/" target="popup" onclick="tab.open('../https://twitter.com/','name')" >Twitter</a></li>
                
            </ul>
        </div>
        <div class="footer-el footer-el-b">
            <ul>
                <li><a href="{% url 'about_us' %}">About Jobable</a></li>
                <li><a href="{% url 'about_us' %}">Life at Jobable</a></li>
                <li><a href="{% url 'feedback' %}">Feedback</a></li>
            </ul>
        </div>
        <div class="footer-el footer-el-c">
            <ul>
                <li><i class="fas fa-envelope"></i><a href="https://gmail.com/" target="popup"  onclick="tab.open('https://www.google.com/maps/@27.6791296,85.3377024,8z','name')">hello.jobable@gmail.com</a></li>
                <li><i class="fas fa-map-marker-alt"></i><a href="https://www.google.com/maps/@27.6791296,85.3377024,8z"  target="popup"  onclick="tab.open('https://www.google.com/maps/@27.6791296,85.3377024,8z','name')">Budhanilakantha 13, Kathmandu</a></li>
                <li><i class="fas fa-phone"></i><a href="#!">01-4475210</a></li>
            </ul>
        </div>
    </footer>