
{% load static %} 
{% include "header.html" %}
<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> -->

<title>Home</title>
<link rel="stylesheet" href="{%static './css/accessibility_home.css'%}" />

  <body>

    <div class="container">
      <div class="hero-wrapper section-wrapper">
        <main class="hero">
          <div class="hero-welcome-text">
            <h1 class="hero-big-text">We care about you.</h1>
            <p class="hero-small-text">Find the best suited job for you.</p>
            <div class="hero-search-section">
              <form action="{% url 'search' %}" class="hero-search-form">
                <input
                  type="text"
                  class="hero-search"
                  placeholder="Software Engineer"
                  name="query"
                />
                <button
                  type="submit"
                  class="hero-btn btn btn-primary"
                >Find Your Job.</button>
              </form>
            </div>
          </div>
          <div class="hero-image-wrapper">
            <img src="{% static "assets/homeImage.png" %}" 
              alt="home page image"
              class="hero-image"
            />
          </div>
        </main>
        <section class="our-services section-wrapper">
          <h2 class="section-title">Our Services</h2>
          <div class="services-lower-image-wrapper">
              <img src="{% static "assets/servicesLeftLow.png" %}"  alt="" class="services-lower-image">
           
          </div>
          <div class="services-cards-wrapper">
            <ul class="services-cards">
              <li class="services-card">
                <h1 class="services-card-number">1</h1>
                <div class="services-card-content">
                  <div class="services-card-top">
                    <i class="fas fa-search"></i>
                    <h3 class="services-card-title">Job Search</h3>
                  </div>
                  <p class="services-card-bottom">
                    At Jobable, you will get an opportunity to explore wide range of jobs. 
                  </p>
                </div>
              </li>
              <li class="services-card">
                <h1 class="services-card-number">2</h1>
                <div class="services-card-content">
                  <div class="services-card-top">
                    <i class="fas fa-users"></i>
                    <h3 class="services-card-title">Recruitment</h3>
                  </div>
                  <p class="services-card-bottom">
                    At Jobable, we help you to find just the kind of employees that you are looking for. 
       
                  
                  </p>
                </div>
              </li>
              <li class="services-card">
                <h1 class="services-card-number">3</h1>
                <div class="services-card-content">
                  <div class="services-card-top">
                    <i class="fas fa-laptop-house"></i>
                    <h3 class="services-card-title">Recommendation</h3>
                  </div>
                  <p class="services-card-bottom">
                    Jobable is a platform for differently-abled seekers who can even see the recommended jobs in their dashboard.     
                </div>
              </li>
            </ul>
          </div>
        </section>
        <section class="more section-wrapper">
            <p class="more-section-text">
                WHO UNDERSTANDS IT PERSONALLY?
                <br>
                WE DO.
            </p>
            <div class="more-image-line">
                <img src="{% static './assets/homeBottomImage.png'%}" alt="" class="more-image">
            </div>
          <div class="more-image-wrapper">
            <img src="./assets/homeBottomImage.png" alt="" class="more-image" />
          </div>
          
        </section>
      </div>
    </div>

  
    <!-- here -->
    <div id="accessibility" style="bottom: 15%;">
      <img
        src="{% static './images/access-icon.png'%}"
        alt=""
        srcset=""
        id="accessibility-icon"
      />
    <form class="accessibility-overlay" id="overlay-accessibility">
      <div id="accessibility-title" class="accessibility-options">
        <h4>Accessibility Options</h4>
      </div>
      <br />
      <br />
      <label class="accessibility-options">
        <div id="color-invert">
          <label for="invertcolor"> <h6>Invert Color</h6></label>
          <input
            type="range"
            id="invert-color"
            name="invertcolor"
            min="0"
            max="100"
            value="0"
          />
          <label for="invertcolor" id="slider-value-place-invert"
            >0%&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label
          >
          <i class="material-icons" id="refresh-invert">refresh</i>
        </div>
      </label>
  
      <label class="accessibility-options">
        <div id="grayscale">
          <label for="grayscalemode"> <h6>Greyscale Level</h6></label>
          <input
            type="range"
            id="grayscale-mode"
            name="grayscalemode"
            min="0"
            max="100"
            value="0"
          />
          <label for="grayscalemode" id="slider-value-place-grayscale"
            >0%&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label
          >
          <i class="material-icons" id="refresh-greyscale">refresh</i>
        </div>
      </label>
  
      <label class="accessibility-options">
        <div id="brightness">
          <label for="brightness"> <h6>Brightness Level</h6></label>
          <input
            type="range"
            id="brightness-level"
            name="brightness"
            min="50"
            max="150"
            value="100"
          />
          <label for="brightness" id="slider-value-place-brightness"
            >100%&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label
          >
          <i class="material-icons" id="refresh-brightness">refresh</i>
        </div>
      </label>
  
      <label class="accessibility-options">
        <div id="font-size">
          <label for="font"> <h6>Font Level</h6></label>
          <input
            type="range"
            id="font-level"
            name="font"
            min="50"
            max="150"
            value="100"
          />
          <label for="font" id="slider-value-place-font"
            >100%&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label
          >
          <i class="material-icons" id="refresh-font">refresh</i>
        </div>
      </label>
  
      <label class="accessibility-options">
        <div id="translate">
          <div id="google_translate_element"></div>
        </div>
      </label>
  
      <br />
      <br />
      <label class="accessibility-options">
        <div id="reset">
          <label> <i class="fa fa-refresh"></i></label>
          <h5>&nbsp;&nbsp;&nbsp;Reset All</h5>
        </div>
      </label>
    </form>
    <script src="{% static 'images/index.js'%}"></script>
  </div>

{% include "footer.html" %}
