{% include 'seeker/seekerHeader.html' %}
{% include "accessibility.html" %}
<title>Additional Details</title>
  <main class="signup auth">
      <div class="container">
        <div class="auth-left">
          <div class="auth-image-wrapper">
            <img
              src="https://images.unsplash.com/photo-1586281380349-632531db7ed4?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80"
              alt=""
            />
          </div>
        </div>
        <div class="auth-right">
        
          <div class="auth-form-wrapper">
          
            <form action="" method="post">
            <h2>Add more details</h2>
              {% csrf_token %}
              <div class="form-item">
                {% comment %} <input
                  type="text"
                  class="form-input"
                  required="true"
                  name="qualification"
                  placeholder="Qualification"
                /> {% endcomment %}
              <label for="qualification">Please select your education qualification.</label>
              <select name="qualification" id="qualification" required="true">
                <option value="School">School</option>
                <option value="High School">High School</option>
                <option value="Bachelor + ">Bachelor + </option>
                <option value="Masters ">Masters</option>
              </select>

              </div>
              <div class="form-item">
                <input
                  type="text"
                  class="form-input"
                  name="university"
                  required="true"
                  placeholder="University"
                />
              </div>
              <div class="form-item">
                <input
                  type="text"
                  class="form-input"
                  required="true"
                  name="skills"
                  placeholder="Skills"
                />
              </div>
              
              <div class="form-item">
                {% comment %} <input
                  type="text"
                  class="form-input"
                  required="true"
                  name="available_for"
                  placeholder="Available For"
                /> {% endcomment %}


              <label for="available_for">Please specify when you are available for work</label>
              <select name="available_for" id="available_for" required="true">
                <option value="5AM to 11AM">5AM to 11AM</option>
                <option value="10AM to 5PM">10AM to 5PM</option>
                <option value="2PM to 8PM">2PM to 8PM</option>
                <option value="5PM to 11PM">5PM to 11PM</option>
                <option value="Berojgar">Berojgar</option>
              </select>
              </div>
              <div class="form-item">
                {% comment %} <input
                  type="text"
                  required="true"
                  class="form-input"
                  name="preferred_location"
                  placeholder="Preferred Location"
                /> {% endcomment %}
              <label for="preferred_location">Please specify your preferred location</label>
              <select name="preferred_location" id="preferred_location" required="true">
                <option value="Inside kathmandu valley">Inside kathmandu valley</option>
                <option value="Chitwan">Chitwan</option>
                <option value="Biratnagar">Biratnagar</option>
                <option value="Pokhara">Pokhara</option>
                <option value="Anywhere">Anywhere</option>
              </select>
              </div>
              <div class="form-item">
                {% comment %} <input
                  type="text"
                  class="form-input"
                  required="true"
                  name="work_experience"
                  placeholder="Work Experience"
                /> {% endcomment %}
              <label for="work_experience">Please specify your work experience.</label>
              <select name="work_experience" id="work_experience" required="true">
                <option value="Fresher">Fresher</option>
                <option value="0 - 2years">0 - 2years</option>
                <option value="2 - 5years">2 - 5years</option>
                <option value="5 - 10years">5 - 10years</option>
                <option value="10 years +">10 years +</option>
              </select>
              </div>
              <div class="form-item">
                <input
                  type="submit"
                  name="submit"
                  class="form-button btn btn-primary"
                  value="Submit"
                />
              </div>
              <p><a href="{% url 'social_details' %}">Add social details?</a></p>
             
 
            </form>
          </div>
        </div>
      </div>
    </main>
  </body>
    {% include 'footer.html'%}
</html>
