{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
  <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
  <title>Home</title>
</head>
<nav>
    <div class="logo"><img src="{% static "images/logo.png" %}" alt="logo"/ height="50px"></div>

    <ul class="nav-items">
        <li class="nav-item"><a href="{% url 'seeker_dashboard' %}">  Home</a></li>
        <li class="nav-item"><a href="{% url 'saved_jobs' %}">  saved jobs</a></li>
        <li class="nav-item"><a href="{% url 'appliedJobs' %}"> Applied Jobs</a></li>
        {% if user.is_authenticated %}
        <li class="nav-item"><a href="{% url 'profile' %}"> {{ user.first_name }} </a></li>
        {% else %}
        <li class="nav-item"><a href="{% url 'profile' %}">  Profile</a></li>
        {% endif %}
        <li class="nav-item" id="myBtn" style="cursor:pointer;"><a>  Logout</a></li>
    </ul>
</nav>

<div id="myModal" class="modal">
  <div class="modal-content">
    <span class="close">&times;</span>
    <p>Are you sure you want to logout?</p><a href="{% url 'logout' %}"><button class="btn btn-primary  " style="" ><i class="fas fa-sign-out-alt"></i> Logout</button></a>
  </div>

</div>
<script>
var modal = document.getElementById("myModal");
var btn = document.getElementById("myBtn");
var span = document.getElementsByClassName("close")[0];
btn.onclick = function() {
  modal.style.display = "block";
}
span.onclick = function() {
  modal.style.display = "none";
}
window.onclick = function(event) {
  if (event.target == modal) {
    modal.style.display = "none";
  }
}
</script>

{% for message in messages %}
<div class="popup-msg">
  <p class="popup-msg-text">{{message}}</p>
  <i class="fa fa-times popup-close"></i>
</div>
{% endfor %}