{% load static %}

<title>Register</title>
  {% include 'header.html'%}
  {% include "accessibility.html" %}
    <main class="signup auth">
      <div class="container">
        <div class="auth-left">
          <div class="auth-image-wrapper">
            <img
              src="https://images.unsplash.com/photo-1600880292089-90a7e086ee0c?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80"
              alt=""
            />
          </div>
        </div>
        <div class="auth-right">
          <div class="auth-form-wrapper">
          <h2> Seeker Register</h2>
            <form action="{% url 'seeker_register' %}" method="post" enctype="multipart/form-data">
              {% csrf_token %}
              <div class="form-item">
                <input
                  type="text"
                  class="form-input"
                  name="first_name"
                  required="true"
                  placeholder="First Name"
                />
              </div>
              <div class="form-item">
                <input
                  type="text"
                  class="form-input"
                  required="true"
                  name="last_name"
                  placeholder="Last Name"
                />
              </div>
              <div class="gender">
                <input type="radio" id="male" name="gender" value="male" checked="checked"/>
                <label for="male" >Male</label>
                <input type="radio" id="female" name="gender" value="female" />
                <label for="female" >Female</label>
                <input type="radio" id="other" name="gender" value="other" />
                <label for="other" >Other</label>
              </div>
              <div class="form-item">
                <input
                  type="text"
                  class="form-input"
                  required="true"
                  name="username"
                  placeholder="Username"
                />
              </div>
              <div class="form-item">
                <input
                  type="text"
                  class="form-input"
                  required="true"
                  name="contact"
                  placeholder="Contact number"
                />
              </div>
              <div class="form-item">
                <input
                  type="text"
                  class="form-input"
                  required="true"
                  name="address"
                  placeholder="Address"
                />
              </div>
              <div class="form-item">
                <input
                  type="email"
                  required="true"
                  class="form-input"
                  name="email"
                  placeholder="Email"
                />
              </div>
              

              <div class="form-item">
                <label for="image">Select profile image:</label>
                <input type="file" id="image" name="image"  required="true" accept="image/*">
              </div>
              
              <div class="form-item">
              <label for="preferred_job_category">Please select your Preferred Job Category</label>
              <select name="preferred_job_category" id="preferred_job_category" required="true">
                <option value="finance">Finance</option>
                <option value="marketing">Marketing</option>
                <option value="webdesign">Webdesign </option>
                <option value="management">Management</option>
                <option value="technology">Technology</option>
                <option value="hardware">Hardware</option>
                <option value="others">Others</option>
              </select>
              </div>


              <div class="form-item">
                <input
                  type="text"
                  class="form-input"
                  name="bio"
                  required="true"
                  placeholder="Tell us about your disability type"
                />
              </div>



              <div class="form-item">
                <input
                  type="password"
                  class="form-input"
                  required="true"
                  name="password1"
                  placeholder="Password"
                />
              </div>
              <div class="form-item">
                <input
                  type="password"
                  class="form-input"
                  name="password2"
                  required="true"
                  placeholder="Confirm Password"
                />
              </div>
              <div class="form-item">
                <input
                  type="submit"
                  name="submit"
                  class="form-button btn btn-primary"
                  value="Signup"
                />
              </div>
              <p>Already a member? <a href="{% url 'login' %}">Login</a></p>
              <p><a href="{% url 'recruiter_register' %}">Are you a recruiter? </a></p>
            </form>
          </div>
        </div>
      </div>
    </main>
  </body>
    {% include 'footer.html'%}
</html>
