{% include 'seeker/seekerHeader.html' %}
{% include "accessibility.html" %}
<title>Profile</title>
  <main class="signup auth">
      <div class="container">
        <div class="auth-left">
          <div class="auth-image-wrapper">
            <img
              src="https://images.unsplash.com/photo-1586281380349-632531db7ed4?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80"
              alt=""
            />
          </div>
        </div>
        <div class="auth-right">
        
          <div class="auth-form-wrapper">
            <form action="" method="post">
            <h2>Add social details</h2>
              {% csrf_token %}
              <div class="form-item">
                <input
                  type="text"
                  class="form-input"
                  required="true"
                  name="facebook"
                  placeholder="Facebook"
                />
              </div>
              <div class="form-item">
                <input
                  type="text"
                  class="form-input"
                  name="instagram"
                  required="true"
                  placeholder="Instagram"
                />
              </div>
              <div class="form-item">
                <input
                  type="text"
                  class="form-input"
                  required="true"
                  name="twitter"
                  placeholder="twitter"
                />
              </div>
              <div class="form-item">
                <input
                  type="text"
                  class="form-input"
                  required="true"
                  name="others"
                  placeholder="Others"
                />
              </div>
              
              <div class="form-item">
                <input
                  type="submit"
                  name="submit"
                  class="form-button btn btn-primary"
                  value="Submit"
                />
              </div>
         
 
            </form>
          </div>
        </div>
      </div>
    </main>
  </body>
    {% include 'footer.html'%}
</html>
